@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Outfit:wght@100..900&display=swap');

* {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.marco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

img {
    border-radius: 15px;
    width: 300px;
}

.subtitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap:1rem;
    padding:1rem .2rem;

    h1 {
        word-wrap: break-word;
        width: 300px;
        font-weight: 700;
        font-size: 23px;
    }

    p {
        display: flex;
        word-wrap: break-word;
        flex-direction: row;
        flex-wrap: wrap;
        width: 300px;
        font-weight: 400;
        font-size: 17px;
        color: hsl(216, 15%, 48%);
    }
}